<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.cnandreu.mylogger"
      version="0.2.4">

    <name>MyLogger</name>
    <description>MyLogger Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,logger</keywords>

    <js-module src="www/MyLogger.js" name="MyLogger">
        <clobbers target="window.MyLogger" />
    </js-module>

    <!-- ios -->
    <platform name="ios">

    <config-file target="config.xml" parent="/*">
            <feature name="MyLogger">
                <param name="ios-package" value="MyLogger" />
            </feature>
        </config-file>

      <js-module src="www/native/log.js" name="MyLoggerNative">
          <merges target="window.MyLogger" />
      </js-module>

      <header-file src="src/ios/MyLogger.h" />
      <source-file src="src/ios/MyLogger.m" />

    </platform>

</plugin>